<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Admin Page</title>
  </head>
  <body>
    <h1>Welcome to the Admin Page</h1>
    <script src="https://accounts.google.com/gsi/client" async defer></script>

    <div
      id="g_id_onload"
      data-client_id="481624698418-jda90rkmm7024fjccari5crae1dicdtn.apps.googleusercontent.com"
      data-context="use"
      data-ux_mode="popup"
      data-login_uri="login"
      data-nonce=""
      data-auto_select="true"
      data-itp_support="true"
    ></div>

    <div
      class="g_id_signin"
      data-type="standard"
      data-shape="pill"
      data-theme="filled_blue"
      data-text="continue_with"
      data-size="large"
      data-logo_alignment="left"
    ></div>
  </body>
  <script>
    function getCookie(cookieName) {
      const cookies = document.cookie.split(";");

      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        if (cookie.startsWith(cookieName + "=")) {
          return cookie.substring(cookieName.length + 1);
        }
      }

      return null;
    }
  </script>
</html>
